#tank{
    position: absolute;
    width: 20%;
    height: 100vh;
    top: 0vh;
    left: 5%;
}

#tank-elements{
    position: relative;
    height: 100%;
    width: 100%;
}

#bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background: radial-gradient(circle at 4px 4px, #777, #555);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#bottom-content{
    position: relative;
    width: 100%;
    height: 100%;
}

#band1{
    position: absolute;
    top: 30%;
    height: 15px;
    width: 100%;
    background-color: #999;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.16), inset 0 1px 2px rgba(0,0,0,0.23);
}

#band2{
    position: absolute;
    top: 50%;
    height: 15px;
    width: 100%;
    background-color: #999;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.16), inset 0 1px 2px rgba(0,0,0,0.23);
}

#liquid{
    position: absolute;
    bottom: 20vh;
    width: 80%;
    height: 60vh;
    left: 10%;
    background-color: rgba(0,255,255,0.3);
    filter: blur(1px);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5), 0 0 30px rgba(0, 255, 255, 0.5), 0 0 40px #fff, 0 0 150px rgba(0, 255, 255, 0.7);
    z-index: 0;
}

#liquid-content{
    position: relative;
    width: 100%;
    height: 100%;
}

#glass{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,255,255,0.5);
}

#statue{
    position: absolute;
    left: 10%;
    width: 80%;
    animation: float 2s infinite;
    max-height: 60vh;
}

@keyframes float {
    from{
        top: 4vh;
    }
    50%{
        top: 5vh;
    }
    to{
        top: 4vh;
    }
}

#top{
    position: absolute;
    bottom: 80vh;
    width: 100%;
    height: 20vh;
    background: radial-gradient(circle at 4px 4px, #777, #555);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 0;
    box-shadow: 0 -20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#top-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#infos{
    margin-top: 4vh;
    padding: 5px 25px;
    background-color: #444;
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.12), inset 0 2px 4px rgba(0,0,0,0.24);
    color: cyan;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-title);
    font-size: 9pt;
}

#tube-1{
    position: absolute;
    top: 5vh;
    left: 70%;
    width: 40%;
    height: 10px;
    background-color: #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#tube-2{
    position: absolute;
    top: 0vh;
    left: calc(110% - 10px);
    height: 5vh;
    width: 10px;
    background-color: #333;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#tube-entrance{
    position: absolute;
    top: calc(5vh - 5px);
    left: calc(70% - 5px);
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #444;
}