<div id="tank" >
    <div id="tank-elements">
        <div id="liquid">
            <div id="liquid-content" #tank>
                <div id="cursor" #cursor></div>
                <img #statue id="statue" src="../../../../assets/images/3d.PNG">
                <div id="glass"></div>
            </div>
        </div>
        <div id="top">
            <div id="top-content">
                <div id="infos">
                    <div>Thomas Guesdon</div>
                    <div>13/09/1998</div>
                    <div>Web developer</div>
                </div>
            </div>
        </div>
        <div id="bottom">
            <div id="bottom-content">
                <div id="band1"></div>
                <div id="band2"></div>
            </div>
        </div>
        <div id="tube-entrance"></div>
        <div id="tube-2"></div>
        <div id="tube-1"></div>
    </div>
</div>
