#factory{
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(78,78,78,1) 20%, rgba(78,78,78,1) 80%, rgba(51,51,51,1) 100%);
}

#background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0.1;
}