<h1 class="title">Menulib</h1>
<div class="subtitle">Angular, Firebase</div>
<div class="subtitle">With Louis Jolliet, Paul Vigneau, Thomas Barre-Pitous</div>

<p>
    MenuLib is a web application which allows customers to order at the restaurant with a Qr Code. Its main difference with similar application is that the Qr Code is displayed on a screen and changed after each utilisation. This protect toward any malicious possibility.
</p>

<h2 class="first">Project Manager</h2>

<p>
    My first role on this project was a supervisor role, I helped Idealtek Concept to write their specifications and made contact with Paul, Louis and Thomas. I had to verify that they completed our expectation during the project, and was their main contact at Idealtek Concept.
</p>

<p>
    They delivered the application in time with all the asked functionnalities.
</p>

<h3>Functionnalities V1 :</h3>

<h4>Restaurant admin panel</h4>

<p>
    A dashboard only accessible by the restaurant administrator
</p>

<ul>
    <li>Add / Edit / Delete articles</li>
    <li>Add / Edit / Delete categories</li>
    <li>Add "meal of the day" articles</li>
    <li>Theme choice</li>
    <li>Restaurant settings</li>
    <li>Add / Edit / Delete security code</li>
</ul>

<div class="multiple_img">
    <div class="gallery">
        <img src="../../../../../assets/menulib/admin-view.PNG">
        <img src="../../../../../assets/menulib/admin-settings.PNG">
    </div>
    <div class="caption">
        Some admin views
    </div>
</div>

<h4>Preparer panel</h4>

<p>
    A view of all orders being prepared, which possibility to validate and clear them. Used in the kitchen restaurant.
</p>

<h4>Customer panel</h4>

<p>
    A view used to browse all articles and categories, with a cart that can be validated so the order goes to the kitchen.
</p>

<h2>Developper</h2>
<p>
    After getting the V1 from Louis, Paul and Thomas, I switched back to a developper role. We showed our application to some potential client to get some insights on what to improve next.
</p>
<p>
    I did a full visual reworking to get a more "sellable" visual, with the addition of new themes for café and pizzeria. This is also when we decided to use a Qr Code displayed on screen that change after each use. I added this functionnality along with a number id for the orders.
</p>

<h2>Gallery</h2>

<div class="solo_img">
    <img src="../../../../../assets/menulib/home.jpg">
    <div class="caption">
        Home view
    </div>
</div>

<div class="solo_img">
    <img src="../../../../../assets/menulib/article-page.jpg">
    <div class="caption">
        Article view
    </div>
</div>

<div class="solo_img">
    <img src="../../../../../assets/menulib/cart.jpg">
    <div class="caption">
        Cart view
    </div>
</div>