<div id="mobile-body">
    <div id="top" class="wip"></div>
    <div id="wip-zone">
        <div id="screen-title">
            <h1 id="title">Thomas Guesdon</h1>
            <h2 id="subtitle">Web developer</h2>
        </div>
        <div id="socials">
            <div id="mail" class="social">
                <a href="mailto:thomas.guesdon12@gmail.com">
                    <i class="far fa-envelope"></i>
                </a>
            </div>
            <div id="github" class="social">
                <a href="https://github.com/TGuesdon">
                    <i class="fab fa-github-square"></i>
                </a>
            </div>
            <div id="twitter" class="social">
                <a href="https://www.linkedin.com/in/thomas-guesdon-b025b8132/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="bottom" class="wip"></div>

    <div id="projects">
        <a class="screen">
            <div class="project-title">My resume</div>
            <div class="description">See my previous jobs, university background and personnal informations ...</div>
        </a>
        
        <a class="screen">
            <div class="project-title">Twitch-Party</div>
            <div class="description">
                This project allows twitch streamers to take part in various games with their viewers, without any software installation on viewer AND streamer side. 
                To achieve this, I used an Angular front served with Nginx, which communicates with a Node backend running a twitch bot using Tmi.JS.
            </div>
        </a>

        <a class="screen">
            <div class="project-title">Idealtek</div>
            <div class="description">
                Idealtek is an e-commerce website selling electric vehicules. I worked with Julien Piault ( seo expert ) and Jean-Marc Gagnebien ( front web developper ) in order to build a theme from scratch that aim to be fast and ergonomic. 
            </div>
        </a>

        <a class="screen">
            <div class="project-title">PhotoCleaner</div>
            <div class="description">
                PhotoCleaner is an experimental project on which I tested if I could clean ecommerce product photos. In order to do that I used my knowledge from computer vision studies and the openCV library.
            </div>
        </a>

        <a class="screen">
            <div class="project-title">Menulib</div>
            <div class="description">
                MenuLib is a web application which allows customers to order at the restaurant with a Qr Code. Its main difference with similar application is that the Qr Code is displayed on a screen and changed after each utilisation. This protect toward any malicious possibility.
            </div>
        </a>

        <a class="screen">
            <div class="project-title">Mashup Helper</div>
            <div class="description">
                This web app use angular, angular material and firebase to propose an easy way to visualize songs that are candidates for mashups (a mix of both songs). There is 3 views, one listings the artists, one listings the songs and one displaying a table of the songs with their bpm and tonality.
            </div>
        </a>

        <a class="screen">
            <div class="project-title">SpaceConquest</div>
            <div class="description">
                Space Conquest is a Java project created during our final year of an IT bachelor's degree in University of Bordeaux (FR). It's a strategy game where you are the Ambassador of the red planet and will have to conquest all planets around. It contains an Implementation of the A* algorithm.
            </div>
        </a>

        <a class="screen">
            <div class="project-title">PlanetGenerator</div>
            <div class="description">
                    Procedural planet generator is a university project in which we generate a low poly planet with procedural algorithms. This includes biomes, oceans and mountains and uses various concepts such as Perlin Noises, Uniform repartition of points on a sphere, texturing or seeding.
            </div>
        </a>

        <a class="screen">
            <div class="project-title">BlindTestRap</div>
            <div class="description">
                    Blindtestrap is a website allowing you to play blindtest with french rap songs. You can also guess with the video clip, as they are visible but blurred. That was intended in order to reward rap geeks like me.
            </div>
        </a>

        <a class="screen">
            <div class="project-title">BuildIdeas</div>
            <div class="description">
                BuildIdeas is a Spigot Minecraft plugin, it was developped with Java and Spigot library.
            </div>
        </a>

        <a class="screen">
            <div class="project-title">Final School Project</div>
            <div class="description">
                An Inviwo plugin which allows 3D analysis of plants' vascular system. Developed with C++.
            </div>
        </a>
    </div>



</div>
