/* You can add global styles to this file, and also import other style files */
body{
    margin: 0; 
}

@font-face{
    font-family: Tag;
    src: url(assets/tag.ttf);
}


html{
    --font-tag: Tag;
}