/* You can add global styles to this file, and also import other style files */
body{
    margin: 0; 
}

@font-face{
    font-family: Tag;
    src: url(assets/tag.ttf);
}

@font-face{
    font-family: Digital;
    src: url(assets/digital.ttf);
}


html{
    --font-tag: Tag;
    --font-digital: Digital;
}