<h1 class="title">Mashup Helper</h1>
<div class="subtitle">Angular, Firebase</div>

<p>
    This web app use angular, angular material and firebase to propose an easy way to visualize songs that are candidates for mashups (a mix of both songs). There is 3 views, one listings the artists, one listings the songs and one displaying a table of the songs with their bpm and tonality. The table allows to quickly find if two artists have songs compatible, by highlighting their songs when the artists are selected. This is way easier to read than an excel file, and is easier to fill and organize.
</p>

<p>
    Sadly this web app was conceived to be used only by PNL World, so you won't be able to see the views by yourself. That is why I put a little gallery just below, however if someone is interested in getting an access, don't hesitate to contact me.
</p>

<div class="solo_img">
    <img src="../../../../../assets/mashup-helper/grid.PNG">
    <div class="caption">
        Mashup Table
    </div>
</div>

<div class="solo_img">
    <img src="../../../../../assets/mashup-helper/artists.PNG">
    <div class="caption">
        Artists view
    </div>
</div>

<div class="solo_img">
    <img src="../../../../../assets/mashup-helper/songs.PNG">
    <div class="caption">
        Songs view
    </div>
</div>