<div id="socials-container">
    <div class="wip top"></div>
    <div id="socials-content">
        <div id="mail" class="social">
            <a href="mailto:thomas.guesdon12@gmail.com">
                <i class="far fa-envelope"></i>
            </a>
        </div>
        <div id="github" class="social">
            <a href="https://github.com/TGuesdon">
                <i class="fab fa-github-square"></i>
            </a>
        </div>
        <div id="twitter" class="social">
            <a href="https://www.linkedin.com/in/thomas-guesdon-b025b8132/">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
    <div class="wip bot"></div>

</div>
