<h1 class="title">Hi, I'm Thomas Guesdon</h1>
<div class="subtitle">A fullstack developer with interests in web development and signal processing</div>

<h2 class="first">Web developer at ACH International | Since february 2019</h2>
<p>
    I have been working at ACH International as a web developer part-time since frebruary 2019. I did a full rework of their main online store Idealtek around winter 2019. I also did most of the back-end part of their two website Sunraev and Idealrent. Our next project together is a fully customized Wordpress theme compatible with Woocommerce for their online stores.
</p>
<div class="technologies">Technologies : Php, Javascript, MySQL, Wordpress, Woocommerce, Odoo</div>

<h2>Computer science master at Université de Bordeaux | 2018 - 2021</h2>
<p>
    I completed in summer 2021 my computer science master degree with a specialization in image and sound processing. We learned there a lot of cool concepts such as code complexity, convolutional neural network, 3D Fourier transform or convolution matrix.
</p>
<div class="technologies">Technologies : C++, C, OpenCV, Tensorflow, Python, OpenGL, FFTW</div>

<h2>Internship at Ochanomizu University in Tokyo, Japan | Spring 2018</h2>
<p>
    This was a shared internship with Nathan Joubert and Gaëtan Basile, in which we developped a visualization software for CCG2Lambda. CCG2Lambda is a software converting natural language (english or japanese) to semantic representation developped by the Bekki lab at Ochanomizu University. This allowed us to discover language theory and graph theory. We also did a website to show their results.
</p>
<div class="technologies">Technologies : Java, JavaFX, NodeJS, AWS</div>

<h2>DUT : french two-year university degree in technology at Université de Bordeaux | 2016 - 2018</h2>
<p>
    My two first years in computer science, we learned algorithms, database management, system development, network, acounting, communication, and so much more...
</p>
<div class="technologies">Technologies : Java, C, C++, C#, JS, NET, HTML, CSS, Matlab, MySQL</div>