<div id="container">
    <div *ngIf="stateService.curtain" id="curtain" [class.opening]="stateService.openingCurtain === true">
        <div id="curtain-elements">
            <img id="metal" src="./../../assets/images/metal-effect.jpg">
            
            <!-- <div id="name">
                Thomas Guesdon
            </div> -->

            <div id="open-button" (click)="stateService.openCurtain()">
                <div id="open-button-elements" [class.rotating]="stateService.rotatingLever === true">
                    <div id="bar" [class.hint]="stateService.rotatingLever === false"></div>
                </div>
            </div>

            <div class="aeration left">
                <div class="smoke-container" *ngIf="stateService.rotatingLever === true">
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                </div>
            </div>
            <div class="aeration right">
                <div class="smoke-container" *ngIf="stateService.rotatingLever === true">
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                </div>
            </div>

            <div id="wip-line"></div>
        </div>
    </div>
    <div fxShow="true" fxHide.lt-md="true" id="factory">
        <app-factory></app-factory>
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
        <app-mobile></app-mobile>
    </div>
</div>